.reply {
  display: flex;
  flex-direction: column;
  background-color: rgb(202, 194, 194);
  margin-left: 1.5rem;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: rgb(194, 185, 185);
  color: rgba(0, 0, 0, 0.80);
  font-size: 70%;
  margin-left: 1.8rem;  
}